.root{
    -fx-background-image: url("square.png");
}

Label{
    -fx-font-size: 21px;
    -fx-font: "Cooper Black";
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow(gaussian, rgba(178,178,178,0.5), 0,0,0,3);
    -fx-alignment: CENTER;
}
#CompareResult{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.5), 0,0,0,1);
    -fx-alignment: CENTER;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019. 5. 25, 오후 5:14:44
    Author     : yds92
*/

